Ext.Loader.setConfig({
  enabled: true,
  paths: {
    NX: 'app'
  }
});

// TODO: Sort out how to dynamically get the list of plugin ids
Ext.ns('NX.app');
NX.app.pluginIds = [${plugins}];

Ext.application('NX.app.Application');