Ext.Loader.setConfig({
  enabled: true,
  paths: {
    NX: 'NX'
  }
});

Ext.ns('NX.app');
NX.app.pluginConfigClassNames = [${pluginConfigClassNames}];
Ext.each(NX.app.pluginConfigClassNames, function(className) {
  Ext.require(className);
});

Ext.application('NX.app.Application');
